# Proyecto análisis de conversación de mensajería

## Cargar datos
- Exportar una conversación personal o grupal de Whastapp o Telegram en un formato adecuado (JSON, CSV, etc), no exportar audios, archivos multimedia, etc
- Importar archivo y convertirlo en dataframe
- Obtener y graficar los siguientes datos. Elegir el gráfico que mejor represente los datos

In [19]:
import json
import pandas as pd
import datetime
with open ('/home/santiagom/BDD-II-2021/data/basededatos.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data["messages"])
df

,id,type,date,actor,actor_id,action,inviter,text,from,from_id,members,edited,reply_to_message_id,file,mime_type,photo,width,height
0,2779,service,2021-08-09T15:35:59,Santiago Moyano,user1133947710,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2780,service,2021-08-09T15:36:50,Jose Ruti,user1274646303,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2781,service,2021-08-09T15:36:57,Delfina,user991384208,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2782,service,2021-08-09T15:37:13,Enzo Fernández,user1726569146,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2783,service,2021-08-09T15:38:24,Lucas Ollarce,user623280426,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,3051,message,2021-10-04T18:19:30,NaN,NaN,NaN,NaN,okey profe,Santiago Moyano,user1133947710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,3145,message,2021-10-18T18:03:19,NaN,NaN,NaN,NaN,"Buenas tardes, chicos, arrancamos meet 18:30 hs",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,3146,message,2021-10-18T18:04:03,NaN,NaN,NaN,NaN,okey!,Giancarlo Galvarini,user1009916191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,3147,message,2021-10-18T18:16:05,NaN,NaN,NaN,NaN,,Santiago Riera,user805229404,NaN,NaN,NaN,NaN,NaN,(File not included. Change data exporting sett...,737.0,448.0
102,3148,message,2021-10-18T18:16:45,NaN,NaN,NaN,NaN,,seba F,user1005951679,NaN,NaN,NaN,NaN,NaN,(File not included. Change data exporting sett...,991.0,581.0

### Cantidad de mensajes enviados por cada usuario

In [2]:


# agrupado por nombre de usuario
"""df[df['usuario'] == 'from'].groupby('from').agg(
    Especificar nombre de columnas de agregación
    total_mensajes=('from', "count"),   
    max_quantiy=('quantity', "max"),  
    most_common_card=("card", lambda x: x.mode())    
)"""

groups = ['from']

df.groupby( groups, as_index=False).agg(mensajes = ('text', 'count'))


#df.groupby('from')[['id']].count()

                             from  mensajes
0   Andrea Navarro (juncotic.com)         3
1                         Arian M         8
2                         Bruno R         1
3                  Danilo Verardo         1
4                         Delfina         2
5                         Douglas         2
6                  Emiliano Muñoz         3
7                  Enzo Fernández         1
8                       Facu Luna         1
9                      Fede Pardo         4
10              Gabriel Arenas 🇦🇷        15
11            Giancarlo Galvarini         4
12                      Jose Ruti         1
13              Juan Pablo Garcia         1
14                         Julián         2
15                      Lautaro G         3
16                  Lucas Galdame         6
17                  Lucas Ollarce         1
18                         Matias         1
19               Nicolás Olivares         1
20      Ramiro Alberto Giandinoto         5
21              Santiago Martinez         2
22                Santiago Moyano         3
23                 Santiago Riera         3
24                           Tato         2
25                           Yago         3
26                         seba F         3

### Promedio de palabras utilizadas por mensaje por cada usuario

In [3]:
# columna con promedio de palabras de cada mensaje

# agrupamiento por usuario y cantidad de palabras


df['total_words'] = [len(str(x).split(" ")) for x in df['text']]
df.groupby(['from'])[['total_words']].mean()

                               total_words
from
Andrea Navarro (juncotic.com)     4.666667
Arian M                           4.250000
Bruno R                           4.000000
Danilo Verardo                    8.000000
Delfina                           7.000000
Douglas                           4.500000
Emiliano Muñoz                    6.333333
Enzo Fernández                    4.000000
Facu Luna                         4.000000
Fede Pardo                        2.250000
Gabriel Arenas 🇦🇷                30.600000
Giancarlo Galvarini               2.500000
Jose Ruti                         4.000000
Juan Pablo Garcia                 7.000000
Julián                            5.000000
Lautaro G                         5.000000
Lucas Galdame                     4.166667
Lucas Ollarce                     4.000000
Matias                            4.000000
Nicolás Olivares                  4.000000
Ramiro Alberto Giandinoto         4.400000
Santiago Martinez                 2.500000
Santiago Moyano                   3.666667
Santiago Riera                    5.333333
Tato                              3.000000
Yago                              3.000000
seba F                            5.333333

### Porcentaje de mensajes enviados por cada usuario

In [4]:
total_messages = df['id'].count()
df.groupby(
   ['from'],
    as_index=False 
).agg(average=('id',lambda x: (x.count()/total_messages)*100) )

                             from    average
0   Andrea Navarro (juncotic.com)   2.912621
1                         Arian M   7.766990
2                         Bruno R   0.970874
3                  Danilo Verardo   0.970874
4                         Delfina   1.941748
5                         Douglas   1.941748
6                  Emiliano Muñoz   2.912621
7                  Enzo Fernández   0.970874
8                       Facu Luna   0.970874
9                      Fede Pardo   3.883495
10              Gabriel Arenas 🇦🇷  14.563107
11            Giancarlo Galvarini   3.883495
12                      Jose Ruti   0.970874
13              Juan Pablo Garcia   0.970874
14                         Julián   1.941748
15                      Lautaro G   2.912621
16                  Lucas Galdame   5.825243
17                  Lucas Ollarce   0.970874
18                         Matias   0.970874
19               Nicolás Olivares   0.970874
20      Ramiro Alberto Giandinoto   4.854369
21              Santiago Martinez   1.941748
22                Santiago Moyano   2.912621
23                 Santiago Riera   2.912621
24                           Tato   1.941748
25                           Yago   2.912621
26                         seba F   2.912621

### Frecuencia de envío de mensaje dependiendo la hora del día

In [10]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%dT%H:%M:%S')
groups = [df['date'].dt.hour]
df_aux = df.groupby(groups).agg(frecuency=('id','count'))
df_aux

      frecuency
date
9             1
10            1
12            1
15            7
16            8
17           30
18           41
19            8
20            5
23            1

### Frecuencia de envío de mensaje dependiendo del día de la semana

In [11]:
groups = [df['date'].dt.weekday]
df_aux = df.groupby(groups).agg(frecuency=('id','count'))
df_aux

      frecuency
date
0            96
5             4
6             3

### Hora del día preferida por cada usuario para enviar mensajes

In [12]:
groups = ["from"]
df.groupby(groups).agg(preferida = ("date", lambda x: x.dt.hour.mode()))

                              preferida
from
Andrea Navarro (juncotic.com)        17
Arian M                              18
Bruno R                              18
Danilo Verardo                       17
Delfina                        [17, 18]
Douglas                        [17, 19]
Emiliano Muñoz                       17
Enzo Fernández                       19
Facu Luna                            19
Fede Pardo                           17
Gabriel Arenas 🇦🇷                    18
Giancarlo Galvarini                  18
Jose Ruti                            18
Juan Pablo Garcia                    17
Julián                         [17, 18]
Lautaro G                            18
Lucas Galdame                        17
Lucas Ollarce                        18
Matias                               18
Nicolás Olivares                     18
Ramiro Alberto Giandinoto            17
Santiago Martinez                    18
Santiago Moyano                      18
Santiago Riera                       18
Tato                           [10, 18]
Yago                                 18
seba F                               18

### Día de la semana preferida por cada usuario para enviar mensajes

In [13]:
groups = ["from"]
df.groupby(groups).agg(dia_preferido= ("date", lambda x: x.dt.weekday.mode()))

                               dia_preferido
from
Andrea Navarro (juncotic.com)              0
Arian M                                    5
Bruno R                                    0
Danilo Verardo                             0
Delfina                                    0
Douglas                                    0
Emiliano Muñoz                             0
Enzo Fernández                             0
Facu Luna                                  0
Fede Pardo                                 0
Gabriel Arenas 🇦🇷                          0
Giancarlo Galvarini                        0
Jose Ruti                                  0
Juan Pablo Garcia                          0
Julián                                     0
Lautaro G                                  0
Lucas Galdame                              0
Lucas Ollarce                              0
Matias                                     0
Nicolás Olivares                           0
Ramiro Alberto Giandinoto                  0
Santiago Martinez                          0
Santiago Moyano                            0
Santiago Riera                             0
Tato                                       0
Yago                                       0
seba F                                     0

### Cantidad promedio de mensajes enviados por hora para cada usuario

In [14]:
df['time'] = [x.hour for x in df['date']]
hours = []
for i in df['date']:
    hours.append(i.hour)
groups = [df['time'],'from']
agregar = {'id': lambda x: x.count()}
df.groupby(groups).agg(agregar)

                                    id
time from
9    Gabriel Arenas 🇦🇷               1
10   Tato                            1
12   Yago                            1
15   Ramiro Alberto Giandinoto       1
16   Andrea Navarro (juncotic.com)   1
     Ramiro Alberto Giandinoto       1
17   Andrea Navarro (juncotic.com)   2
     Arian M                         2
     Danilo Verardo                  1
     Delfina                         1
     Douglas                         1
     Emiliano Muñoz                  2
     Fede Pardo                      3
     Juan Pablo Garcia               1
     Julián                          1
     Lautaro G                       1
     Lucas Galdame                   3
     Ramiro Alberto Giandinoto       2
     Santiago Moyano                 1
     Santiago Riera                  1
     seba F                          1
18   Arian M                         4
     Bruno R                         1
     Delfina                         1
     Gabriel Arenas 🇦🇷               8
     Giancarlo Galvarini             4
     Jose Ruti                       1
     Julián                          1
     Lautaro G                       2
     Lucas Galdame                   2
     Lucas Ollarce                   1
     Matias                          1
     Nicolás Olivares                1
     Ramiro Alberto Giandinoto       1
     Santiago Martinez               2
     Santiago Moyano                 2
     Santiago Riera                  2
     Tato                            1
     Yago                            2
     seba F                          2
19   Arian M                         1
     Douglas                         1
     Emiliano Muñoz                  1
     Enzo Fernández                  1
     Facu Luna                       1
     Fede Pardo                      1
     Gabriel Arenas 🇦🇷               1
     Lucas Galdame                   1
20   Arian M                         1
     Gabriel Arenas 🇦🇷               4
23   Gabriel Arenas 🇦🇷               1

### Cantidad de usuarios promedio que envían mensaje por cada día de la semana

In [15]:
number_of_weeks = ((df['date'].max() - df['date'].min()).days)/7
print(number_of_weeks)
groups = ['from',df['date'].dt.weekday]
print(df['from'].unique())
df_aux = df.groupby( groups).agg(total_messages=('from',lambda x: x.count()/number_of_weeks)
                       )
df_aux.groupby(['date']).agg(total_users = ('total_messages',lambda x: x.sum()/len(df_aux.index.unique())))

10.0
[nan 'Andrea Navarro (juncotic.com)' 'Ramiro Alberto Giandinoto' 'seba F'
 'Fede Pardo' 'Santiago Riera' 'Juan Pablo Garcia' 'Arian M' 'Lautaro G'
 'Lucas Galdame' 'Julián' 'Emiliano Muñoz' 'Delfina' 'Danilo Verardo'
 'Santiago Moyano' 'Douglas' 'Gabriel Arenas 🇦🇷' 'Tato' 'Yago'
 'Giancarlo Galvarini' 'Santiago Martinez' 'Bruno R' 'Matias'
 'Lucas Ollarce' 'Nicolás Olivares' 'Jose Ruti' 'Enzo Fernández'
 'Facu Luna']

      total_users
date
0        0.241935
5        0.012903
6        0.009677

### Cantidad de mensajes envíados por mes

In [16]:
groups = ['from',df['date'].dt.month]
df_aux = df.groupby(groups).agg(total_messages = ('id', lambda x: x.count()))
df_aux

                                    total_messages
from                          date
Andrea Navarro (juncotic.com) 8                  3
Arian M                       8                  2
                              9                  6
Bruno R                       9                  1
Danilo Verardo                8                  1
Delfina                       8                  1
                              9                  1
Douglas                       8                  1
                              9                  1
Emiliano Muñoz                8                  2
                              9                  1
Enzo Fernández                9                  1
Facu Luna                     9                  1
Fede Pardo                    8                  3
                              9                  1
Gabriel Arenas 🇦🇷             8                  1
                              9                 12
                              10                 2
Giancarlo Galvarini           9                  2
                              10                 2
Jose Ruti                     9                  1
Juan Pablo Garcia             8                  1
Julián                        8                  1
                              9                  1
Lautaro G                     8                  1
                              9                  2
Lucas Galdame                 8                  3
                              9                  3
Lucas Ollarce                 9                  1
Matias                        9                  1
Nicolás Olivares              9                  1
Ramiro Alberto Giandinoto     8                  3
                              9                  2
Santiago Martinez             9                  2
Santiago Moyano               8                  1
                              9                  1
                              10                 1
Santiago Riera                8                  1
                              9                  1
                              10                 1
Tato                          9                  2
Yago                          9                  3
seba F                        8                  1
                              9                  1
                              10                 1

### Cantidad mínima, máxima y promedio de palabras por mensaje

In [22]:
groups = ['total_words']
agregar = {'total_words':["min", "max", "mean"]}
df.groupby(groups).agg(agregar)

KeyError: 'total_words'